@model List<FileListViewModel>

@{
    ViewData["Title"] = "File List";
}

<section class="ftco-section ftco-project" id="projects-section">
    <div class="container">
        <div class="row justify-content-center pb-5">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <h1 class="big big-2" style="font-size: 5rem;">Yüklenenler</h1>
                <h2 class="mb-4">Yüklenenler</h2>
                <p>Kullanıcılarımızın son yükledikleri.</p>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <div class="project img ftco-animate d-flex justify-content-center align-items-center" style="background-image: url(@item.FilePath);">
                        <a href="/File/Details/@item.Id">
                            <div class="overlay"></div>
                            <div class="text text-center p-4">
                                <h3>@item.Description</h3>
                                <span>@item.Visibility</span>
                                <span>@item.UploadDate.ToString("dd.MM.yyyy")</span>
                            </div>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</section>