@{
    ViewData["Title"] = "Home Page";
}



<section class="ftco-section ftco-no-pb" id="resume-section">
    <div class="container">
        <div class="row justify-content-center pb-5">
            <vc:file-list/>
        </div>
    </div>
</section>





