<footer class="ftco-footer ftco-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Hakkında</h2>
                    <p>Bu uygulama, kullanıcıların dosyalarını güvenle yükleyip, paylaşmasına olanak tanıyan modern bir dosya yönetim sistemidir.</p>
                    <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                        <li class="ftco-animate">
                            <a href="https://x.com/akifakkoyun09" target="_blank" rel="noopener noreferrer">
                                <span class="icon-twitter"></span>
                            </a>
                        </li>
                        <li class="ftco-animate">
                            <a href="https://www.instagram.com/akifakkoyun/" target="_blank" rel="noopener noreferrer">
                                <span class="icon-instagram"></span>
                            </a>
                        </li>
                        <li class="ftco-animate">
                            <a href="https://github.com/Akif-Akkoyun" target="_blank" rel="noopener noreferrer">
                                <span class="icon-github"></span>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4 ml-md-4">
                    <h2 class="ftco-heading-2">Bağlantılar</h2>
                    <ul class="list-unstyled">
                        <li><a asp-action="Index" asp-controller="Home"><span class="icon-long-arrow-right mr-2"></span>Anasayfa</a></li>
                        <li><a asp-action="MyFiles" asp-controller="MyPage"><span class="icon-long-arrow-right mr-2"></span>Benim Dosyalarım</a></li>
                        <li><a asp-action="Login" asp-controller="Auth"><span class="icon-long-arrow-right mr-2"></span>Giriş Yap</a></li>
                        <li><a asp-action="Register" asp-controller="Auth"><span class="icon-long-arrow-right mr-2"></span>Kayıt Ol</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Özellikler</h2>
                    <ul class="list-unstyled">
                        <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Dosya Yükleme</a></li>
                        <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Gizlilik Ayarları</a></li>
                        <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Paylaşım Linkleri</a></li>
                        <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Dosya Detayları</a></li>
                        <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Hızlı İndirme</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">İletişim</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><span class="icon icon-map-marker"></span><span class="text">Türkiye</span></li>
                            <li><a href="#"><span class="icon icon-envelope"></span><span class="text">systemofcloudfilestorage@gmail.com</span></a></li>
                            <li><a href="#"><span class="icon icon-envelope"></span><span class="text">akifakkoyun09@gmail.com</span></a></li>
                            <li><a href="#"><span class="icon icon-github"></span><span class="text">github.com/Akif-Akkoyun</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md text-center">
                <p>&copy; 2025 Akif Akkoyun | Tüm hakları saklıdır.</p>
            </div>
        </div>
    </div>
</footer>
