<section class="ftco-section" id="services-section">
	<div class="container">
		<div class="row justify-content-center py-5 mt-5">
			<div class="col-md-12 heading-section text-center ftco-animate">
				<h1 class="big big-2" style="font-size: 6rem;">Hoş Geldiniz</h1>
				<h2 class="mb-4">Hoş Geldiniz</h2>
				<p>Sayfamıza Hoş Geldiniz.Sizi aramızda görmek büyük bir onur.Size sunduğumuz hizmetleri aşağıda bulabilirsiniz.İyi bir deneyim olması dileği ile.... </p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 text-center d-flex ftco-animate">
				<a href="#" class="services-1">
					<span class="icon">
						<i class="fas fa-upload fa-3x"></i>
					</span>
					<div class="desc">
						<h3 class="mb-5">Dosya Yükleme</h3>
					</div>
				</a>
			</div>
			<div class="col-md-4 text-center d-flex ftco-animate">
				<a href="#" class="services-1">
					<span class="icon">
						<i class="fas fa-download fa-3x"></i>
					</span>
					<div class="desc">
						<h3 class="mb-5">Dosya İndirme</h3>
					</div>
				</a>
			</div>
			<div class="col-md-4 text-center d-flex ftco-animate">
				<a href="#" class="services-1">
					<span class="icon">
						<i class="fas fa-user-shield fa-3x"></i>
					</span>
					<div class="desc">
						<h3 class="mb-5">Jwt Yetkilendirmesi</h3>
					</div>
				</a>
			</div>

			<div class="col-md-4 text-center d-flex ftco-animate">
				<a href="#" class="services-1">
					<span class="icon">
						<i class="fas fa-share-alt fa-3x"></i>
					</span>
					<div class="desc">
						<h3 class="mb-5">Dosya Paylaşımı</h3>
					</div>
				</a>
			</div>
			<div class="col-md-4 text-center d-flex ftco-animate">
				<a href="#" class="services-1">
					<span class="icon">
						<i class="fas fa-eye-slash fa-3x"></i>
					</span>
					<div class="desc">
						<h3 class="mb-5">Dosya Durum Değiştirme</h3>
					</div>
				</a>
			</div>
			<div class="col-md-4 text-center d-flex ftco-animate">
				<a href="#" class="services-1">
					<span class="icon">
						<i class="fas fa-users fa-3x"></i>
					</span>
					<div class="desc">
						<h3 class="mb-5">Paylaşılan Dosyaları Listeleme</h3>
					</div>
				</a>
			</div>
		</div>
	</div>
</section>