@model ShareFileViewModel

@{
    ViewData["Title"] = "Dosya Paylaş";
}

<section class="ftco-section ftco-no-pb">
    <div class="container">
        <div class="row justify-content-center pb-5">
            <div class="col-md-8">
                <div class="card shadow" style="background-color:black">
                    <div class="card-body" id="form-wrapper">
                        <h4 class="card-title text-center mb-4">Dosyayı Paylaş</h4>

                        <form asp-action="ShareFile" asp-controller="MySharedPage" method="post">
                            <input type="hidden" asp-for="Id" />

                            <div class="mb-3">
                                <label asp-for="SelectedUserIds" class="form-label">Kullanıcı Seç</label>
                                <select asp-for="SelectedUserIds" asp-items="Model.AllUsers" multiple class="form-control select2"></select>
                                <small class="form-text text-muted">CTRL veya CMD tuşuna basarak birden fazla kişi seçebilirsiniz.</small>
                            </div>

                            <div class="mb-3">
                                <label asp-for="Permission" class="form-label">Paylaşım Yetkisi</label>
                                <select asp-for="Permission" class="form-control">
                                    <option value="ReadOnly">Sadece Görüntüle</option>
                                    <option value="ReadWrite">Düzenleme Yetkili</option>
                                </select>
                            </div>

                            <div class="text-center">
                                <button type="submit" class="btn btn-warning">Paylaş</button>
                                <a asp-action="MyFiles" asp-controller="MyPage" class="btn btn-danger ms-2">Geri Dön</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    <script>
        $(document).ready(function () {
            $('.select2').select2({
                placeholder: "Kullanıcıları seçin",
                width: '100%',
                dropdownParent: $('#form-wrapper')
            });
        });
    </script>
}
